<%- include("./partials/header") %>

  <div class="container-fluid mt-5">
    <div class="row">
      <h3 class="display-5 mb-5">Welcome to Todo v2</h3>
    </div>
    <div class="row">
      <div class="col-8">
        <h4>Technologies used</h4>
        <div class="list-container">
          <div class="list-group">
            <h5 class="list-title">MongoDB</h5>
            <p class="list-desc">MongoDB is a NoSql database that stores data using BSON format</p>
          </div>
          <div class="list-group">
            <h5 class="list-title">BootstrapCSS</h5>
            <p class="list-desc">A CSS framework to quickly build layouts and components of a website</p>
          </div>
          <div class="list-group">
            <h5 class="list-title">Express.js</h5>
            <p class="list-desc">A Javascript flexible, minimalist, web framework to quickly create websites & APIs</p>
          </div>
          <div class="list-group">
            <h5 class="list-title">ECMA6</h5>
            <p class="list-desc">Using ECMA 6 techniques behind the scenes such as Promises, Destructering</p>
          </div>
          <div class="list-group">
            <h5 class="list-title">Node.js</h5>
            <p class="list-desc">A Javascript runtime enviroment allowing Javascript to be run outside of the browser
            </p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <h4>My Goal</h4>
        <p>My goal is not only to learn Git but also to showcase what technologies I’ve learnt and provide visual proof
          of understanding</p>
      </div>
    </div>
  </div>

  <%- include("./partials/footer") %>